body {
	font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 10px;
}

img {
  width: 600px;
  height: 338px;
  max-width: 100%; 
  width: auto; 
  max-height: 100%;
  height: auto;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

iframe {
  width: 300px;
  height: 533px;
  max-width: 100%; 
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.article-container {
  max-width: 600px;
  margin: 0 auto;
}

a:link {
  color: rgb(255, 82, 82);
}

a:visited {
  color: rgb(255, 82, 82);
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  width: auto;
  background-color: black;
  padding: 9px;
}

header img {
  margin-left: 20px;
  width: 155px;
  height: auto;
}

footer {
  width: auto;
  background-color: rgb(35,35,35);
  padding: 3px;
  padding-left: 20px; 
  text-align: left;
  color: white;
}

footer a {
  color: white !important;
}

footer a:hover {
  text-decoration: underline !important;
  color: rgb(255, 82, 82) !important;
}
