.calculator-container {
  border-radius: 21px;
  padding: 20px;
  background-color: #e9e9e9;
}

input[type="number"] {
  width: 77px;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  padding-right: 0em;
}

select#Type4 {
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  background-color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: 3em;
  width: 3em;
}
#result1,
#result2,
#result3,
#result4 {
  font-weight: bold;
  font-size: 18px;
  color: #5c0099;
}

button {
  padding: 10px 20px;
  background-color: #8100d6;
  color: #fff;
  border: none;
  border-radius: 33px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #5c0099;
}
