body {
	font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 10px;
}

img {
  max-width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-container {
  max-width: 600px;
  margin: 0 auto;
}

a:link {
  color: rgb(255, 82, 82);
}

a:visited {
  color: rgb(255, 82, 82);
}

a:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

header {
  background-color: black;
  color: #fff;
  padding: 9px;
}

header img {
  margin-left: 20px;
  width: 155px;
  height: auto;
}

footer {
  width: 100%;
  background-color: rgb(35,35,35);
  padding: 3px;
  padding-left: 20px; 
  text-align: left;
  color: white;
}

footer a {
  color: white !important;
}

footer a:hover {
  text-decoration: underline !important;
  color: rgb(255, 82, 82) !important;
}
