.background {
    background-color: rgb(245, 245, 245);
  }

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0px solid #e0e0e0;
    border-radius: 7px;
    padding: 22px;
    margin: 7px;
    width: 410px;
    align-self: flex-start;
    text-align: left;
    text-decoration: none;
    background-color: white;
    color: black;
    font-family: 'Roboto', sans-serif;
  }
  
  .card:hover {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  }
 
  .card img {
    width: 410px;
    height: 256px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  
  
  .card h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 10px;
  }